/* 画面全体 */
body{
    margin:0;
    background:#dbe8ee;
    font-family:sans-serif;
}

/* チャットエリア */
.chat-container{
    min-height:100vh;
    padding:15px;
    padding-bottom:90px; /* 入力欄に隠れないようにする */
    box-sizing:border-box;
}

/* メッセージ行 */
.message-row{
    display:flex;
    width:100%;
    margin-bottom:20px;
}

.friend{
    justify-content:flex-start;
}

.me{
    justify-content:flex-end;
}

/* 相手アイコン */
.icon{
    width:40px;
    height:40px;
    border-radius:50%;
    margin-right:10px;
}

/* メッセージ内容 */
.message-content{
    display:flex;
    flex-direction:column;
}

/* 吹き出し共通 */
.bubble{
    padding:12px 16px;
    border-radius:20px;
    max-width:300px;
    word-break:break-word;
    font-size:18px;
}

/* 相手 */
.friend .bubble{
    background:white;
    color:black;
}

/* 自分 */
.me .bubble{
    background:#06c755;
    color:white;
}

/* 時刻 */
.time{
    margin-top:5px;
    font-size:12px;
    color:#666;
}

/* 自分の時刻は右寄せ */
.me .time{
    text-align:right;
}

/* 入力エリア */
.chat-input-area{
    position:fixed;
    bottom: 0px;
    left:0;
    width:100%;
    height:80px;

    background:white;
    border-top:1px solid #ccc;

    display:flex;
    align-items:center;
    gap:10px;

    padding:0 10px;
    box-sizing:border-box;
}

/* テキストボックス */
.chat-input-area input{
    flex:1;
    height:40px;

    border:2px solid #333;
    border-radius:25px;

    padding:0 15px;
    font-size:16px;
}

/* ＋ボタン */
.plus-btn{
    width:44px;
    height:44px;

    border:none;
    border-radius:50%;

    background:#06c755;
    color:white;
    font-size:24px;
    cursor:pointer;
}

/* 送信ボタン */
.send-btn{
    padding:10px 18px;

    border:none;
    border-radius:25px;

    background:#06c755;
    color:white;

    font-size:16px;
    cursor:pointer;
}