body{
    margin:0;
    font-family:sans-serif;
    background:#dcecef;
}

/* ===== ヘッダー ===== */
.header{
    height:70px;
    background:#d8e8ee;
    border-bottom:1px solid #999;

    display:flex;
    justify-content:center;
    align-items:center;

    position:relative;
}

/* タイトル */
.logo{
    font-size:56px;
    font-family:"Times New Roman", serif;
    font-style:italic;

    border:1px solid #aaa;
    padding:0 25px;
    background:#edf5f8;
}

.logo a{
  text-decoration: none;
  color: inherit;
}

/* ===== ハンバーガー ===== */
.hamburger{
    position:absolute;
    left:15px;

    width:35px;
    cursor:pointer;
}

.hamburger span{
    display:block;
    height:3px;
    margin:6px 0;
    background:black;
}

/* ===== 右上ボタン ===== */
.window-buttons{
    position:absolute;
    right:5px;
    top:5px;

    display:flex;
    gap:2px;
}

.window-btn{
    width:22px;
    height:22px;

    border:1px solid #555;
    background:#eee;
    cursor:pointer;
}

.close{
    background:red;
    color:white;
}

/* ===== サイドバー ===== */
.sidebar{
    position:fixed;
    top:70px;
    left:-220px;

    width:220px;
    height:calc(100vh - 70px);

    background:#f4f4f4;
    border-right:1px solid #999;

    transition:0.3s;

    z-index: 100;
    
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

/* 開いた状態 */
.sidebar.active{
    left:0;
}

/* メニュー */
.sidebar ul{
    list-style:none;
    padding:0;
    margin:0;
}

.sidebar li{
    padding:18px;
    border-bottom:1px solid #ccc;
    cursor:pointer;
    background:white;
}

.sidebar li:hover{
    background:#e8e8e8;
}

/* ログアウト */
.logout{
    background:red;
    color:white;
    border:none;
    padding:15px;
    font-size:16px;
    cursor:pointer;
}