body{
    margin:0;
    font-family:sans-serif;
    background:#dcecef;
}


/* =========================
   お知らせページ
========================= */

.notice-main{
    max-width:1000px;
    margin:40px auto;
    padding:0 24px;
}

.notice-title{
    text-align:center;
    font-size:32px;
    margin-bottom:32px;
    font-weight:700;
}

.notice-wrapper{
    background:#fff;
    border-radius:20px;
    padding:28px 40px;
    box-shadow:0 2px 10px rgba(0,0,0,0.04);
}

/* 一覧 */

.notice-list{
    display:flex;
    flex-direction:column;
}

/* 各行 */

.notice-item{
    display:flex;
    align-items:center;

    gap:22px;

    padding:24px 4px;

    border-bottom:1px solid #edf1f4;

    text-decoration:none;
    color:#222;

    transition:0.2s;
}

.notice-item:last-child{
    border-bottom:none;
}

.notice-item:hover{
    background:#f8fbfd;
}

/* 日付 */

.notice-date{
    width:72px;
    height:72px;

    border-radius:14px;

    background:#f8fbfd;

    border:1px solid #edf1f4;

    display:flex;
    justify-content:center;
    align-items:center;

    flex-shrink:0;
}

.month{
    font-size:20px;
    font-weight:bold;
}

/* 本文 */

.notice-content{
    flex:1;
}

.notice-content h2{
    font-size:20px;
    margin-top:8px;
    font-weight:600;
}

/* アコーディオン */

.notice-block{
    border-bottom:1px solid #edf1f4;
}

.notice-item{
    cursor:pointer;
}

.notice-detail{

    max-height:0;
    overflow:hidden;

    transition:0.55s cubic-bezier(0.22, 1, 0.36, 1);

    padding:0 94px 0 94px;

    color:#666;
    line-height:1.8;
    font-size:15px;
}

.notice-block.active .notice-detail{

    max-height:200px;

    padding:0 94px 24px 94px;
}

/* 矢印 */

.notice-arrow{
    font-size:20px;
    color:#aab4be;

    transition:0.3s;

    transform:rotate(0deg);
}

.notice-block.active .notice-arrow{
    transform:rotate(90deg);
}

/* タグ */

.notice-tag{
    display:inline-block;

    padding:5px 12px;

    border-radius:999px;

    font-size:12px;
    font-weight:bold;
}

.info{
    background:#e8f3ff;
    color:#2c7be5;
}

.update{
    background:#e7f8ee;
    color:#18a558;
}

.maintenance{
    background:#eaf7ee;
    color:#1f9d55;
}

/* 右矢印 */

.notice-arrow{
    font-size:34px;
    color:#b4bcc5;
}

/* 下テキスト */

.notice-footer{
    text-align:center;
    margin-top:22px;
    color:#7d8790;
    font-size:14px;
}

